<% layout ('/layouts/boilerplate') %>

    <div class="container">

        <div class="container d-flex justify-content-center align-items-center mt-5">
        <h4>Edit Stock data</h4>   </div>
 
        <form action="/products/<%=product._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <br>

            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label for="cat">Category</label>
                    <select name="cat" id="cat">
                        <option value="BCG" <%=product.cat==='BCG' ? 'selected' : '' %>>BCG</option>
                        <option value="CHOLERA" <%=product.cat==='CHOLERA' ? 'selected' : '' %>>Cholera</option>
                        <option value="COVID-19" <%=product.cat==='COVID-19' ? 'selected' : '' %>>Covid-19</option>                      
                        <option value="EBOLA" <%=product.cat==='EBOLA' ? 'selected' : '' %>>Ebola</option>
                        <option value="HEPATITIS-B" <%=product.cat==='HEPATITIS-B' ? 'selected' : '' %>>Hep B</option>
                        <option value="HPV" <%=product.cat==='HPV' ? 'selected' : '' %>>HPV</option>
                        <option value="INFLUENZA"" <%=product.cat==='INFLUENZA"' ? 'selected' : '' %>>Influenza</option>
                        <option value="JE" <%=product.cat==='JE' ? 'selected' : '' %>>Japanese Encephalitis</option>
                        <option value="MEASLES" <%=product.cat==='MEASLES' ? 'selected' : '' %>>Measles</option>
                        <option value="MENINGITIS" <%=product.cat==='MENINGITIS' ? 'selected' : '' %>>Meningitis</option>
                        <option value="PENTA" <%=product.cat==='PENTA' ? 'selected' : '' %>>Penta</option>
                        <option value="PNEUMONIAE" <%=product.cat==='PNEUMONIAE' ? ' selected' : '' %>>Pneumoniae</option>
                        <option value="POLIO" <%=product.cat==='POLIO' ? 'selected' : '' %>>Polio</option>
                        <option value="RABIES" <%=product.cat==='RABIES' ? 'selected' : '' %>>Rabies</option>
                        <option value="ROTAVIRUS" <%=product.cat==='ROTAVIRUS' ? 'selected' : '' %>>Rotavirus</option>
                        <option value="TETANUS" <%=product.cat==='TETANUS' ? 'selected' : '' %>>Tetanus</option>
                        <option value="TYPHOID" <%=product.cat==='TYPHOID' ? 'selected' : '' %>>Typhoidr</option>
                        <option value="YELLOW FEVER" <%=product.cat==='YELLOW FEVER' ? 'selected' : '' %>>Yellow Fever</option>
                        <option value="DILUENTS" <%=product.cat==='DILUENTS' ? 'selected' : '' %>>Diluents</option>
                    </select>
                </div>

                <div class="col-md-3 offset-md-2">
                    <label for="type">Vaccine Type</label>
                    <select name="type" id="type">
                        <option value="ROUTINE" <%=product.type==='ROUTINE' ? 'selected' : '' %>>Routine</option>
                        <option value="CAMPAIGN" <%=product.type==='CAMPAIGN' ? ' selected' : '' %>>Campaign
                        </option>
                        <option value="OUTBREAK" <%=product.type==='OUTBREAK' ? 'selected' : '' %>>Outbreak</option>
                        <option value="PILOT" <%=product.type==='PILOT' ? 'selected' : '' %>>Pilot</option>
                    </select>
                </div>
                <div class="col-md-3 offset-md-2">
                    
                </div>

            </div>

            <br>

            <div class="row">

                <div class="col-md-3 offset-md-2">
                    <label for="name">Vaccine Name</label>
                    <select name="name" id="name">
                        <option value="BCG - Ampoule (BCG Freeze Dried Glutamate vaccine)" <%product.name==='BCG - Ampoule (BCG Freeze Dried Glutamate vaccine)' ? 'selected' : ''  %>>BCG - Ampoule (BCG Freeze Dried Glutamate vaccine)</option>
                        <option value="BCG - Ampoule (BCG Vaccine)" <%product.name==='BCG - Ampoule (BCG Vaccine)' ? 'selected' : ''  %>>BCG - Ampoule (BCG Vaccine)</option>
                        <option value="BCG - Two vial set (active + excipient) (BCG Vaccine AJV)" <%product.name==='BCG - Two vial set (active + excipient) (BCG Vaccine AJV)' ? 'selected' : ''  %>>BCG - Two vial set (active + excipient) (BCG Vaccine AJV)</option>
                        <option value="BCG - Vial (BCG Vaccine)" <%product.name==='BCG - Vial (BCG Vaccine)' ? 'selected' : ''  %>>BCG - Vial (BCG Vaccine)</option>
                        <option value="cholera: inactivated oral - Plastic Tube (Euvichol-Plus)" <%product.name==='cholera: inactivated oral - Plastic Tube (Euvichol-Plus)' ? 'selected' : ''  %>>cholera: inactivated oral - Plastic Tube (Euvichol-Plus)</option>
                        <option value="cholera: inactivated oral - Vial (Euvichol)" <%product.name==='cholera: inactivated oral - Vial (Euvichol)' ? 'selected' : ''  %>>cholera: inactivated oral - Vial (Euvichol)</option>
                        <option value="cholera: inactivated oral - Vial (Shanchol)" <%product.name==='cholera: inactivated oral - Vial (Shanchol)' ? 'selected' : ''  %>>cholera: inactivated oral - Vial (Shanchol)</option>
                        <option value="cholera: inactivated oral - Vial + Buffer Sachet (Dukoral)" <%product.name==='cholera: inactivated oral - Vial + Buffer Sachet (Dukoral)' ? 'selected' : ''  %>>cholera: inactivated oral - Vial + Buffer Sachet (Dukoral)</option>
                        <option value="Dengue Tetravalent (live, attenuated) - Two vial set (active + excipient) (Dengvaxia)" <%product.name==='Dengue Tetravalent (live, attenuated) - Two vial set (active + excipient) (Dengvaxia)' ? 'selected' : ''  %>>Dengue Tetravalent (live, attenuated) - Two vial set (active + excipient) (Dengvaxia)</option>
                        <option value="Diphtheria-Tetanus - Ampoule (Diphtheria and Tetanus Vaccine Adsorbed (Paediatric))" <%product.name==='Diphtheria-Tetanus - Ampoule (Diphtheria and Tetanus Vaccine Adsorbed (Paediatric))' ? 'selected' : ''  %>>Diphtheria-Tetanus - Ampoule (Diphtheria and Tetanus Vaccine Adsorbed (Paediatric))</option>
                        <option value="Diphtheria-Tetanus - Vial (Adsorbed DT Vaccine)" <%product.name==='Diphtheria-Tetanus - Vial (Adsorbed DT Vaccine)' ? 'selected' : ''  %>>Diphtheria-Tetanus - Vial (Adsorbed DT Vaccine)</option>
                        <option value="Diphtheria-Tetanus - Vial (Diftet)" <%product.name==='Diphtheria-Tetanus - Vial (Diftet)' ? 'selected' : ''  %>>Diphtheria-Tetanus - Vial (Diftet)</option>
                        <option value="Diphtheria-Tetanus - Vial (Diphtheria and Tetanus Vaccine Adsorbed (Pediatric))" <%product.name==='Diphtheria-Tetanus - Vial (Diphtheria and Tetanus Vaccine Adsorbed (Pediatric))' ? 'selected' : ''  %>>Diphtheria-Tetanus - Vial (Diphtheria and Tetanus Vaccine Adsorbed (Pediatric))</option>
                        <option value="Diphtheria-Tetanus (reduced antigen content) - Ampoule (Diphtheria and Tetanus Vaccine Adsorbed for Adults and Adolescents)" <%product.name==='Diphtheria-Tetanus (reduced antigen content) - Ampoule (Diphtheria and Tetanus Vaccine Adsorbed for Adults and Adolescents)' ? 'selected' : ''  %>>Diphtheria-Tetanus (reduced antigen content) - Ampoule (Diphtheria and Tetanus Vaccine Adsorbed for Adults and Adolescents)</option>
                        <option value="Diphtheria-Tetanus (reduced antigen content) - Vial (Diphtheria and Tetanus Vaccine Adsorbed for Adults and Adolescents)" <%product.name==='Diphtheria-Tetanus (reduced antigen content) - Vial (Diphtheria and Tetanus Vaccine Adsorbed for Adults and Adolescents)' ? 'selected' : ''  %>>Diphtheria-Tetanus (reduced antigen content) - Vial (Diphtheria and Tetanus Vaccine Adsorbed for Adults and Adolescents)</option>
                        <option value="Diphtheria-Tetanus (reduced antigen content) - Vial (IMOVAX dT adult)" <%product.name==='Diphtheria-Tetanus (reduced antigen content) - Vial (IMOVAX dT adult)' ? 'selected' : ''  %>>Diphtheria-Tetanus (reduced antigen content) - Vial (IMOVAX dT adult)</option>
                        <option value="Diphtheria-Tetanus (reduced antigen content) - Vial (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  BE Td)" <%product.name==='Diphtheria-Tetanus (reduced antigen content) - Vial (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  BE Td)' ? 'selected' : ''  %>>Diphtheria-Tetanus (reduced antigen content) - Vial (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  BE Td)</option>
                        <option value="Diphtheria-Tetanus (reduced antigen content) - Vial (none)" <%product.name==='Diphtheria-Tetanus (reduced antigen content) - Vial (none)' ? 'selected' : ''  %>>Diphtheria-Tetanus (reduced antigen content) - Vial (none)</option>
                        <option value="Diphtheria-Tetanus (reduced antigen content) - Vial (Tetadif)" <%product.name==='Diphtheria-Tetanus (reduced antigen content) - Vial (Tetadif)' ? 'selected' : ''  %>>Diphtheria-Tetanus (reduced antigen content) - Vial (Tetadif)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (acellular) - Vial (Adacel)" <%product.name==='Diphtheria-Tetanus-Pertussis (acellular) - Vial (Adacel)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (acellular) - Vial (Adacel)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (acellular) - Vial (Boostrix)" <%product.name==='Diphtheria-Tetanus-Pertussis (acellular) - Vial (Boostrix)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (acellular) - Vial (Boostrix)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (acellular)-Hepatitis B-Haemophilus influenzae type b-Polio (Inactivated) - Vial (Hexaxim)" <%product.name==='Diphtheria-Tetanus-Pertussis (acellular)-Hepatitis B-Haemophilus influenzae type b-Polio (Inactivated) - Vial (Hexaxim)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (acellular)-Hepatitis B-Haemophilus influenzae type b-Polio (Inactivated) - Vial (Hexaxim)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell) - Ampoule (Diphtheria-Tetanus-Pertussis Vaccine Adsorbed)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell) - Ampoule (Diphtheria-Tetanus-Pertussis Vaccine Adsorbed)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell) - Ampoule (Diphtheria-Tetanus-Pertussis Vaccine Adsorbed)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell) - Vial (Diphtheria-Tetanus-Pertussis Vaccine Adsorbed)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell) - Vial (Diphtheria-Tetanus-Pertussis Vaccine Adsorbed)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell) - Vial (Diphtheria-Tetanus-Pertussis Vaccine Adsorbed)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell) - Vial (DTP Vaccine)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell) - Vial (DTP Vaccine)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell) - Vial (DTP Vaccine)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell) - Vial (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  TRIPVAC)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell) - Vial (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  TRIPVAC)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell) - Vial (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  TRIPVAC)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Haemophilus influenzae type b - Vial + Ampoule (Diphtheria, Tetanus, Pertussis and Haemophilus influenzae type b Conjugate Vaccine)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell)-Haemophilus influenzae type b - Vial + Ampoule (Diphtheria, Tetanus, Pertussis and Haemophilus influenzae type b Conjugate Vaccine)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell)-Haemophilus influenzae type b - Vial + Ampoule (Diphtheria, Tetanus, Pertussis and Haemophilus influenzae type b Conjugate Vaccine)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B - Ampoule (Diphtheria ,Tetanus, Pertussis and Hepatitis B Vaccine Adsorbed)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B - Ampoule (Diphtheria ,Tetanus, Pertussis and Hepatitis B Vaccine Adsorbed)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B - Ampoule (Diphtheria ,Tetanus, Pertussis and Hepatitis B Vaccine Adsorbed)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B - Vial (Diphtheria ,Tetanus, Pertussis and Hepatitis B Vaccine Adsorbed)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B - Vial (Diphtheria ,Tetanus, Pertussis and Hepatitis B Vaccine Adsorbed)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B - Vial (Diphtheria ,Tetanus, Pertussis and Hepatitis B Vaccine Adsorbed)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Two vial set (active + active) (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  ComBE Five (Reconstituted).)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Two vial set (active + active) (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  ComBE Five (Reconstituted).)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Two vial set (active + active) (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  ComBE Five (Reconstituted).)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Diphtheria, Tetanus, Pertussis, Hepatitis B and Haemophilus influenzae type b Conjugate Vaccine Adsorbed)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Diphtheria, Tetanus, Pertussis, Hepatitis B and Haemophilus influenzae type b Conjugate Vaccine Adsorbed)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Diphtheria, Tetanus, Pertussis, Hepatitis B and Haemophilus influenzae type b Conjugate Vaccine Adsorbed)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Easyfive-TT)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Easyfive-TT)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Easyfive-TT)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Eupenta)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Eupenta)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Eupenta)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  ComBE Five (Liquid).)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  ComBE Five (Liquid).)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  ComBE Five (Liquid).)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Pentabio)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Pentabio)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Pentabio)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Shan-5)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Shan-5)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Shan-5)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial + Ampoule (Diphtheria, Tetanus, Pertussis, Hepatitis B and Haemophilus influenzae type b Conjugate Vaccine)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial + Ampoule (Diphtheria, Tetanus, Pertussis, Hepatitis B and Haemophilus influenzae type b Conjugate Vaccine)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial + Ampoule (Diphtheria, Tetanus, Pertussis, Hepatitis B and Haemophilus influenzae type b Conjugate Vaccine)</option>
                        <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b-Polio (Inactivated) - Vial (Shan6™)" <%product.name==='Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b-Polio (Inactivated) - Vial (Shan6™)' ? 'selected' : ''  %>>Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b-Polio (Inactivated) - Vial (Shan6™)</option>
                        <option value="Ebola vaccine (Ad26.ZEBOV-GP [recombinant]) - Vial (Zabdeno)" <%product.name==='Ebola vaccine (Ad26.ZEBOV-GP [recombinant]) - Vial (Zabdeno)' ? 'selected' : ''  %>>Ebola vaccine (Ad26.ZEBOV-GP [recombinant]) - Vial (Zabdeno)</option>
                        <option value="Ebola vaccine (MVA-BN-Filo [recombinant]) - Vial (Mvabea)" <%product.name==='Ebola vaccine (MVA-BN-Filo [recombinant]) - Vial (Mvabea)' ? 'selected' : ''  %>>Ebola vaccine (MVA-BN-Filo [recombinant]) - Vial (Mvabea)</option>
                        <option value="Ebola Zaire (rVSV∆G-ZEBOV-GP, live attenuated) - Vial (ERVEBO)" <%product.name==='Ebola Zaire (rVSV∆G-ZEBOV-GP, live attenuated) - Vial (ERVEBO)' ? 'selected' : ''  %>>Ebola Zaire (rVSV∆G-ZEBOV-GP, live attenuated) - Vial (ERVEBO)</option>
                        <option value="Haemophilus influenzae type b - Vial (Act-HIB)" <%product.name==='Haemophilus influenzae type b - Vial (Act-HIB)' ? 'selected' : ''  %>>Haemophilus influenzae type b - Vial (Act-HIB)</option>
                        <option value="Haemophilus influenzae type b - Vial (Haemophilus influenzae type b Conjugate Vaccine)" <%product.name==='Haemophilus influenzae type b - Vial (Haemophilus influenzae type b Conjugate Vaccine)' ? 'selected' : ''  %>>Haemophilus influenzae type b - Vial (Haemophilus influenzae type b Conjugate Vaccine)</option>
                        <option value="Haemophilus influenzae type b - Vial (Quimi-Hib)" <%product.name==='Haemophilus influenzae type b - Vial (Quimi-Hib)' ? 'selected' : ''  %>>Haemophilus influenzae type b - Vial (Quimi-Hib)</option>
                        <option value="Hepatitis A (Human Diploid Cell), Inactivated (Adult) - Vial (Havrix 1440 Adult)" <%product.name==='Hepatitis A (Human Diploid Cell), Inactivated (Adult) - Vial (Havrix 1440 Adult)' ? 'selected' : ''  %>>Hepatitis A (Human Diploid Cell), Inactivated (Adult) - Vial (Havrix 1440 Adult)</option>
                        <option value="Hepatitis A (Human Diploid Cell), Inactivated (Adult) - Vial (HEALIVE)" <%product.name==='Hepatitis A (Human Diploid Cell), Inactivated (Adult) - Vial (HEALIVE)' ? 'selected' : ''  %>>Hepatitis A (Human Diploid Cell), Inactivated (Adult) - Vial (HEALIVE)</option>
                        <option value="Hepatitis A (Human Diploid Cell), Inactivated (Paediatric) - Vial (Havrix 720 Junior)" <%product.name==='Hepatitis A (Human Diploid Cell), Inactivated (Paediatric) - Vial (Havrix 720 Junior)' ? 'selected' : ''  %>>Hepatitis A (Human Diploid Cell), Inactivated (Paediatric) - Vial (Havrix 720 Junior)</option>
                        <option value="Hepatitis A (Human Diploid Cell), Inactivated (Paediatric) - Vial (HEALIVE)" <%product.name==='Hepatitis A (Human Diploid Cell), Inactivated (Paediatric) - Vial (HEALIVE)' ? 'selected' : ''  %>>Hepatitis A (Human Diploid Cell), Inactivated (Paediatric) - Vial (HEALIVE)</option>
                        <option value="Hepatitis B - Ampoule or Vial (Hepatitis B Vaccine (rDNA) (Adult))" <%product.name==='Hepatitis B - Ampoule or Vial (Hepatitis B Vaccine (rDNA) (Adult))' ? 'selected' : ''  %>>Hepatitis B - Ampoule or Vial (Hepatitis B Vaccine (rDNA) (Adult))</option>
                        <option value="Hepatitis B - Ampoule or Vial (Hepatitis B Vaccine (rDNA) (Paedriatic))" <%product.name==='Hepatitis B - Ampoule or Vial (Hepatitis B Vaccine (rDNA) (Paedriatic))' ? 'selected' : ''  %>>Hepatitis B - Ampoule or Vial (Hepatitis B Vaccine (rDNA) (Paedriatic))</option>
                        <option value="Hepatitis B - Vial (Engerix)" <%product.name==='Hepatitis B - Vial (Engerix)' ? 'selected' : ''  %>>Hepatitis B - Vial (Engerix)</option>
                        <option value="Hepatitis B - Vial (Euvax B)" <%product.name==='Hepatitis B - Vial (Euvax B)' ? 'selected' : ''  %>>Hepatitis B - Vial (Euvax B)</option>
                        <option value="Hepatitis B - Vial (Heberbiovac HB)" <%product.name==='Hepatitis B - Vial (Heberbiovac HB)' ? 'selected' : ''  %>>Hepatitis B - Vial (Heberbiovac HB)</option>
                        <option value="Hepatitis B - Vial (Hepatitis B Vaccine (rDNA) (Adult))" <%product.name==='Hepatitis B - Vial (Hepatitis B Vaccine (rDNA) (Adult))' ? 'selected' : ''  %>>Hepatitis B - Vial (Hepatitis B Vaccine (rDNA) (Adult))</option>
                        <option value="Hepatitis B - Vial (Hepatitis B Vaccine (rDNA) (Paediatric))" <%product.name==='Hepatitis B - Vial (Hepatitis B Vaccine (rDNA) (Paediatric))' ? 'selected' : ''  %>>Hepatitis B - Vial (Hepatitis B Vaccine (rDNA) (Paediatric))</option>
                        <option value="Hepatitis B (Paediatric) - Vial (Euvax B)" <%product.name==='Hepatitis B (Paediatric) - Vial (Euvax B)' ? 'selected' : ''  %>>Hepatitis B (Paediatric) - Vial (Euvax B)</option>
                        <option value="Human Papillomavirus (Bivalent) - Vial (Cecolin®)" <%product.name==='Human Papillomavirus (Bivalent) - Vial (Cecolin®)' ? 'selected' : ''  %>>Human Papillomavirus (Bivalent) - Vial (Cecolin®)</option>
                        <option value="Human Papillomavirus (Bivalent) - Vial (Cervarix)" <%product.name==='Human Papillomavirus (Bivalent) - Vial (Cervarix)' ? 'selected' : ''  %>>Human Papillomavirus (Bivalent) - Vial (Cervarix)</option>
                        <option value="Human Papillomavirus (Ninevalent) - Vial (Gardasil 9)" <%product.name==='Human Papillomavirus (Ninevalent) - Vial (Gardasil 9)' ? 'selected' : ''  %>>Human Papillomavirus (Ninevalent) - Vial (Gardasil 9)</option>
                        <option value="Human Papillomavirus (Quadrivalent) - Vial (Gardasil)" <%product.name==='Human Papillomavirus (Quadrivalent) - Vial (Gardasil)' ? 'selected' : ''  %>>Human Papillomavirus (Quadrivalent) - Vial (Gardasil)</option>
                        <option value="Influenza, Pandemic (H1N1) - Sprayer (Influenza A (H1N1) 2009 monovalent vaccine)" <%product.name==='Influenza, Pandemic (H1N1) - Sprayer (Influenza A (H1N1) 2009 monovalent vaccine)' ? 'selected' : ''  %>>Influenza, Pandemic (H1N1) - Sprayer (Influenza A (H1N1) 2009 monovalent vaccine)</option>
                        <option value="Influenza, Pandemic (H1N1) - Vial (Celtura)" <%product.name==='Influenza, Pandemic (H1N1) - Vial (Celtura)' ? 'selected' : ''  %>>Influenza, Pandemic (H1N1) - Vial (Celtura)</option>
                        <option value="Influenza, Pandemic (H1N1) - Vial (Fluvirin-H1N1)" <%product.name==='Influenza, Pandemic (H1N1) - Vial (Fluvirin-H1N1)' ? 'selected' : ''  %>>Influenza, Pandemic (H1N1) - Vial (Fluvirin-H1N1)</option>
                        <option value="Influenza, Pandemic (H1N1) - Vial (Focetria)" <%product.name==='Influenza, Pandemic (H1N1) - Vial (Focetria)' ? 'selected' : ''  %>>Influenza, Pandemic (H1N1) - Vial (Focetria)</option>
                        <option value="Influenza, Pandemic (H1N1) - Vial (Green Flu-S)" <%product.name==='Influenza, Pandemic (H1N1) - Vial (Green Flu-S)' ? 'selected' : ''  %>>Influenza, Pandemic (H1N1) - Vial (Green Flu-S)</option>
                        <option value="Influenza, Pandemic (H1N1) - Vial (Influenza A (H1N1) 2009 monovalent vaccine)" <%product.name==='Influenza, Pandemic (H1N1) - Vial (Influenza A (H1N1) 2009 monovalent vaccine)' ? 'selected' : ''  %>>Influenza, Pandemic (H1N1) - Vial (Influenza A (H1N1) 2009 monovalent vaccine)</option>
                        <option value="Influenza, Pandemic (H1N1) - Vial (Panenza)" <%product.name==='Influenza, Pandemic (H1N1) - Vial (Panenza)' ? 'selected' : ''  %>>Influenza, Pandemic (H1N1) - Vial (Panenza)</option>
                        <option value="Influenza, Pandemic (H1N1) - Vial (Panvax)" <%product.name==='Influenza, Pandemic (H1N1) - Vial (Panvax)' ? 'selected' : ''  %>>Influenza, Pandemic (H1N1) - Vial (Panvax)</option>
                        <option value="Influenza, Pandemic (H1N1) - Vial + Ampoule (NASOVAC Influenza Vaccine, Live Attenuated (Human) Freeze-Dried)" <%product.name==='Influenza, Pandemic (H1N1) - Vial + Ampoule (NASOVAC Influenza Vaccine, Live Attenuated (Human) Freeze-Dried)' ? 'selected' : ''  %>>Influenza, Pandemic (H1N1) - Vial + Ampoule (NASOVAC Influenza Vaccine, Live Attenuated (Human) Freeze-Dried)</option>
                        <option value="Influenza, Pandemic (H5N1) - Sprayer (Pandemic Live Attenuated Vaccine)" <%product.name==='Influenza, Pandemic (H5N1) - Sprayer (Pandemic Live Attenuated Vaccine)' ? 'selected' : ''  %>>Influenza, Pandemic (H5N1) - Sprayer (Pandemic Live Attenuated Vaccine)</option>
                        <option value="Influenza, seasonal (Quadrivalent) - Vial (Afluria® Quadrivalent)" <%product.name==='Influenza, seasonal (Quadrivalent) - Vial (Afluria® Quadrivalent)' ? 'selected' : ''  %>>Influenza, seasonal (Quadrivalent) - Vial (Afluria® Quadrivalent)</option>
                        <option value="Influenza, seasonal (Quadrivalent) - Vial (Fluzone Quadrivalent (labelled as FluQuadri in other markets))" <%product.name==='Influenza, seasonal (Quadrivalent) - Vial (Fluzone Quadrivalent (labelled as FluQuadri in other markets))' ? 'selected' : ''  %>>Influenza, seasonal (Quadrivalent) - Vial (Fluzone Quadrivalent (labelled as FluQuadri in other markets))</option>
                        <option value="Influenza, seasonal (Quadrivalent) - Vial (GCFLU Quadrivalent inj.)" <%product.name==='Influenza, seasonal (Quadrivalent) - Vial (GCFLU Quadrivalent inj.)' ? 'selected' : ''  %>>Influenza, seasonal (Quadrivalent) - Vial (GCFLU Quadrivalent inj.)</option>
                        <option value="Influenza, seasonal (Quadrivalent) - Vial (GCFLU Quadrivalent Multi inj.)" <%product.name==='Influenza, seasonal (Quadrivalent) - Vial (GCFLU Quadrivalent Multi inj.)' ? 'selected' : ''  %>>Influenza, seasonal (Quadrivalent) - Vial (GCFLU Quadrivalent Multi inj.)</option>
                        <option value="Influenza, seasonal (Quadrivalent) - Vial (SKYCellflu Quadrivalent inj.)" <%product.name==='Influenza, seasonal (Quadrivalent) - Vial (SKYCellflu Quadrivalent inj.)' ? 'selected' : ''  %>>Influenza, seasonal (Quadrivalent) - Vial (SKYCellflu Quadrivalent inj.)</option>
                        <option value="Influenza, seasonal (Quadrivalent) - Vial (SKYCellflu Quadrivalent Multi inj.)" <%product.name==='Influenza, seasonal (Quadrivalent) - Vial (SKYCellflu Quadrivalent Multi inj.)' ? 'selected' : ''  %>>Influenza, seasonal (Quadrivalent) - Vial (SKYCellflu Quadrivalent Multi inj.)</option>
                        <option value="Influenza, seasonal (Quadrivalent) - Vial (VaxigripTetra)" <%product.name==='Influenza, seasonal (Quadrivalent) - Vial (VaxigripTetra)' ? 'selected' : ''  %>>Influenza, seasonal (Quadrivalent) - Vial (VaxigripTetra)</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial (Afluria®)" <%product.name==='Influenza, seasonal (Trivalent) - Vial (Afluria®)' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial (Afluria®)</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial (AGRIFLU)" <%product.name==='Influenza, seasonal (Trivalent) - Vial (AGRIFLU)' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial (AGRIFLU)</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial (Fluvirin)" <%product.name==='Influenza, seasonal (Trivalent) - Vial (Fluvirin)' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial (Fluvirin)</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial (Fluzone)" <%product.name==='Influenza, seasonal (Trivalent) - Vial (Fluzone)' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial (Fluzone)</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial (GC FLU  inj)" <%product.name==='Influenza, seasonal (Trivalent) - Vial (GC FLU  inj)' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial (GC FLU  inj)</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial (GC FLU Multi inj.)" <%product.name==='Influenza, seasonal (Trivalent) - Vial (GC FLU Multi inj.)' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial (GC FLU Multi inj.)</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial (IL-YANG FLU Vaccine INJ.)" <%product.name==='Influenza, seasonal (Trivalent) - Vial (IL-YANG FLU Vaccine INJ.)' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial (IL-YANG FLU Vaccine INJ.)</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial (influenza trivalent vaccine (split virion, inactivated))" <%product.name==='Influenza, seasonal (Trivalent) - Vial (influenza trivalent vaccine (split virion, inactivated))' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial (influenza trivalent vaccine (split virion, inactivated))</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial (Influenza Vaccine (Split virion, inactivated))" <%product.name==='Influenza, seasonal (Trivalent) - Vial (Influenza Vaccine (Split virion, inactivated))' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial (Influenza Vaccine (Split virion, inactivated))</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial (Serinflu)" <%product.name==='Influenza, seasonal (Trivalent) - Vial (Serinflu)' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial (Serinflu)</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial (SKYCellflu® inj.)" <%product.name==='Influenza, seasonal (Trivalent) - Vial (SKYCellflu® inj.)' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial (SKYCellflu® inj.)</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial (SKYCellflu® Multi inj.)" <%product.name==='Influenza, seasonal (Trivalent) - Vial (SKYCellflu® Multi inj.)' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial (SKYCellflu® Multi inj.)</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial (Vaxigrip)" <%product.name==='Influenza, seasonal (Trivalent) - Vial (Vaxigrip)' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial (Vaxigrip)</option>
                        <option value="Influenza, seasonal (Trivalent) - Vial + Ampoule (Nasovac-S Influenza Vaccine, Live, Attenuated (Human))" <%product.name==='Influenza, seasonal (Trivalent) - Vial + Ampoule (Nasovac-S Influenza Vaccine, Live, Attenuated (Human))' ? 'selected' : ''  %>>Influenza, seasonal (Trivalent) - Vial + Ampoule (Nasovac-S Influenza Vaccine, Live, Attenuated (Human))</option>
                        <option value="Japanese Encephalitis Vaccine (Inactivated) (3µg Pediatric) - Vial (JEEV® (3µg))" <%product.name==='Japanese Encephalitis Vaccine (Inactivated) (3µg Pediatric) - Vial (JEEV® (3µg))' ? 'selected' : ''  %>>Japanese Encephalitis Vaccine (Inactivated) (3µg Pediatric) - Vial (JEEV® (3µg))</option>
                        <option value="Japanese Encephalitis Vaccine (Inactivated) 6µg - Vial (JEEV® (6µg))" <%product.name==='Japanese Encephalitis Vaccine (Inactivated) 6µg - Vial (JEEV® (6µg))' ? 'selected' : ''  %>>Japanese Encephalitis Vaccine (Inactivated) 6µg - Vial (JEEV® (6µg))</option>
                        <option value="Japanese Encephalitis Vaccine (live, attenuated) - Two vial set (active + excipient) (IMOJEV MD)" <%product.name==='Japanese Encephalitis Vaccine (live, attenuated) - Two vial set (active + excipient) (IMOJEV MD)' ? 'selected' : ''  %>>Japanese Encephalitis Vaccine (live, attenuated) - Two vial set (active + excipient) (IMOJEV MD)</option>
                        <option value="Japanese Encephalitis Vaccine (live, attenuated) - Two vial set (active + excipient) (Japanese Encephalitis Vaccine Live (SA14-14-2))" <%product.name==='Japanese Encephalitis Vaccine (live, attenuated) - Two vial set (active + excipient) (Japanese Encephalitis Vaccine Live (SA14-14-2))' ? 'selected' : ''  %>>Japanese Encephalitis Vaccine (live, attenuated) - Two vial set (active + excipient) (Japanese Encephalitis Vaccine Live (SA14-14-2))</option>
                        <option value="Measles - Vial (Measles Vaccine, Live, Attenuated)" <%product.name==='Measles - Vial (Measles Vaccine, Live, Attenuated)' ? 'selected' : ''  %>>Measles - Vial (Measles Vaccine, Live, Attenuated)</option>
                        <option value="Measles - Vial (Measles vaccine)" <%product.name==='Measles - Vial (Measles vaccine)' ? 'selected' : ''  %>>Measles - Vial (Measles vaccine)</option>
                        <option value="Measles - Vial + Ampoule (Measles vaccine)" <%product.name==='Measles - Vial + Ampoule (Measles vaccine)' ? 'selected' : ''  %>>Measles - Vial + Ampoule (Measles vaccine)</option>
                        <option value="Measles and Rubella - Vial (Measles and Rubella Vaccine, Live, Attenuated)" <%product.name==='Measles and Rubella - Vial (Measles and Rubella Vaccine, Live, Attenuated)' ? 'selected' : ''  %>>Measles and Rubella - Vial (Measles and Rubella Vaccine, Live, Attenuated)</option>
                        <option value="Measles and Rubella - Vial + Ampoule (Measles and Rubella Vaccine (Live) (Attenuated, Freeze Dried))" <%product.name==='Measles and Rubella - Vial + Ampoule (Measles and Rubella Vaccine (Live) (Attenuated, Freeze Dried))' ? 'selected' : ''  %>>Measles and Rubella - Vial + Ampoule (Measles and Rubella Vaccine (Live) (Attenuated, Freeze Dried))</option>
                        <option value="Measles, Mumps and Rubella - Vial (Measles, Mumps and Rubella Vaccine, Live, Attenuated)" <%product.name==='Measles, Mumps and Rubella - Vial (Measles, Mumps and Rubella Vaccine, Live, Attenuated)' ? 'selected' : ''  %>>Measles, Mumps and Rubella - Vial (Measles, Mumps and Rubella Vaccine, Live, Attenuated)</option>
                        <option value="Measles, Mumps and Rubella - Vial (Priorix)" <%product.name==='Measles, Mumps and Rubella - Vial (Priorix)' ? 'selected' : ''  %>>Measles, Mumps and Rubella - Vial (Priorix)</option>
                        <option value="Measles, Mumps and Rubella - Vial (rHA M-M-R II)" <%product.name==='Measles, Mumps and Rubella - Vial (rHA M-M-R II)' ? 'selected' : ''  %>>Measles, Mumps and Rubella - Vial (rHA M-M-R II)</option>
                        <option value="Meningococcal A Conjugate 10 µg - Vial + Ampoule (Meningococcal A Conjugate MenAfriVac)" <%product.name==='Meningococcal A Conjugate 10 µg - Vial + Ampoule (Meningococcal A Conjugate MenAfriVac)' ? 'selected' : ''  %>>Meningococcal A Conjugate 10 µg - Vial + Ampoule (Meningococcal A Conjugate MenAfriVac)</option>
                        <option value="Meningococcal A Conjugate 5 µg - Vial + Ampoule (Meningococcal A Conjugate 5 micrograms MenAfriVac 5µg)" <%product.name==='Meningococcal A Conjugate 5 µg - Vial + Ampoule (Meningococcal A Conjugate 5 micrograms MenAfriVac 5µg)' ? 'selected' : ''  %>>Meningococcal A Conjugate 5 µg - Vial + Ampoule (Meningococcal A Conjugate 5 micrograms MenAfriVac 5µg)</option>
                        <option value="Meningococcal ACYW-135 (conjugate vaccine) - Two vial set (active + active) (Menveo)" <%product.name==='Meningococcal ACYW-135 (conjugate vaccine) - Two vial set (active + active) (Menveo)' ? 'selected' : ''  %>>Meningococcal ACYW-135 (conjugate vaccine) - Two vial set (active + active) (Menveo)</option>
                        <option value="Meningococcal ACYW-135 (conjugate vaccine) - Vial (Menactra)" <%product.name==='Meningococcal ACYW-135 (conjugate vaccine) - Vial (Menactra)' ? 'selected' : ''  %>>Meningococcal ACYW-135 (conjugate vaccine) - Vial (Menactra)</option>
                        <option value="Meningococcal ACYW-135 (conjugate vaccine) - Vial + Ampoule (Nimenrix)" <%product.name==='Meningococcal ACYW-135 (conjugate vaccine) - Vial + Ampoule (Nimenrix)' ? 'selected' : ''  %>>Meningococcal ACYW-135 (conjugate vaccine) - Vial + Ampoule (Nimenrix)</option>
                        <option value="Meningococcal ACYW-135 Tetanus Toxoid (conjugate vaccine) - Vial (MenQuadfi)" <%product.name==='Meningococcal ACYW-135 Tetanus Toxoid (conjugate vaccine) - Vial (MenQuadfi)' ? 'selected' : ''  %>>Meningococcal ACYW-135 Tetanus Toxoid (conjugate vaccine) - Vial (MenQuadfi)</option>
                        <option value="Plasmodium falciparum (Malaria) and Hepatitis B (recombinant, adjuvanted) - Two vial set (active + active) (Mosquirix)" <%product.name==='Plasmodium falciparum (Malaria) and Hepatitis B (recombinant, adjuvanted) - Two vial set (active + active) (Mosquirix)' ? 'selected' : ''  %>>Plasmodium falciparum (Malaria) and Hepatitis B (recombinant, adjuvanted) - Two vial set (active + active) (Mosquirix)</option>
                        <option value="Pneumococcal (conjugate) - Vial (PNEUMOSIL®)" <%product.name==='Pneumococcal (conjugate) - Vial (PNEUMOSIL®)' ? 'selected' : ''  %>>Pneumococcal (conjugate) - Vial (PNEUMOSIL®)</option>
                        <option value="Pneumococcal (conjugate) - Vial (Prevenar 13 Multidose Vial)" <%product.name==='Pneumococcal (conjugate) - Vial (Prevenar 13 Multidose Vial)' ? 'selected' : ''  %>>Pneumococcal (conjugate) - Vial (Prevenar 13 Multidose Vial)</option>
                        <option value="Pneumococcal (conjugate) - Vial (Prevenar 13)" <%product.name==='Pneumococcal (conjugate) - Vial (Prevenar 13)' ? 'selected' : ''  %>>Pneumococcal (conjugate) - Vial (Prevenar 13)</option>
                        <option value="Pneumococcal (conjugate) - Vial (Synflorix)" <%product.name==='Pneumococcal (conjugate) - Vial (Synflorix)' ? 'selected' : ''  %>>Pneumococcal (conjugate) - Vial (Synflorix)</option>
                        <option value="Polio Vaccine - Inactivated (IPV) - Vial (IMOVAX POLIO)" <%product.name==='Polio Vaccine - Inactivated (IPV) - Vial (IMOVAX POLIO)' ? 'selected' : ''  %>>Polio Vaccine - Inactivated (IPV) - Vial (IMOVAX POLIO)</option>
                        <option value="Polio Vaccine - Inactivated (IPV) - Vial (IPV Vaccine SSI)" <%product.name==='Polio Vaccine - Inactivated (IPV) - Vial (IPV Vaccine SSI)' ? 'selected' : ''  %>>Polio Vaccine - Inactivated (IPV) - Vial (IPV Vaccine SSI)</option>
                        <option value="Polio Vaccine - Inactivated (IPV) - Vial (Picovax)" <%product.name==='Polio Vaccine - Inactivated (IPV) - Vial (Picovax)' ? 'selected' : ''  %>>Polio Vaccine - Inactivated (IPV) - Vial (Picovax)</option>
                        <option value="Polio Vaccine - Inactivated (IPV) - Vial (Poliomyelitis Vaccine (Inactivated))" <%product.name==='Polio Vaccine - Inactivated (IPV) - Vial (Poliomyelitis Vaccine (Inactivated))' ? 'selected' : ''  %>>Polio Vaccine - Inactivated (IPV) - Vial (Poliomyelitis Vaccine (Inactivated))</option>
                        <option value="Polio Vaccine - Inactivated (IPV) - Vial (Poliomyelitis vaccine multidose, suspension for injection 2.5 mL)" <%product.name==='Polio Vaccine - Inactivated (IPV) - Vial (Poliomyelitis vaccine multidose, suspension for injection 2.5 mL)' ? 'selected' : ''  %>>Polio Vaccine - Inactivated (IPV) - Vial (Poliomyelitis vaccine multidose, suspension for injection 2.5 mL)</option>
                        <option value="Polio Vaccine - Inactivated (IPV) - Vial (Poliomyelitis vaccine)" <%product.name==='Polio Vaccine - Inactivated (IPV) - Vial (Poliomyelitis vaccine)' ? 'selected' : ''  %>>Polio Vaccine - Inactivated (IPV) - Vial (Poliomyelitis vaccine)</option>
                        <option value="Polio Vaccine - Inactivated (IPV) - Vial (Poliorix)" <%product.name==='Polio Vaccine - Inactivated (IPV) - Vial (Poliorix)' ? 'selected' : ''  %>>Polio Vaccine - Inactivated (IPV) - Vial (Poliorix)</option>
                        <option value="Polio Vaccine - Inactivated (IPV) - Vial (ShanIPV™)" <%product.name==='Polio Vaccine - Inactivated (IPV) - Vial (ShanIPV™)' ? 'selected' : ''  %>>Polio Vaccine - Inactivated (IPV) - Vial (ShanIPV™)</option>
                        <option value="Polio Vaccine - Inactivated Sabin (sIPV) - Vial (Eupolio Inj.)" <%product.name==='Polio Vaccine - Inactivated Sabin (sIPV) - Vial (Eupolio Inj.)' ? 'selected' : ''  %>>Polio Vaccine - Inactivated Sabin (sIPV) - Vial (Eupolio Inj.)</option>
                        <option value="Polio Vaccine - Inactivated Sabin (sIPV) - Vial (Poliomyelitis Vaccine (Vero Cell), Inactivated, Sabin Strains)" <%product.name==='Polio Vaccine - Inactivated Sabin (sIPV) - Vial (Poliomyelitis Vaccine (Vero Cell), Inactivated, Sabin Strains)' ? 'selected' : ''  %>>Polio Vaccine - Inactivated Sabin (sIPV) - Vial (Poliomyelitis Vaccine (Vero Cell), Inactivated, Sabin Strains)</option>
                        <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (BIOPOLIO B1/3)" <%product.name==='Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (BIOPOLIO B1/3)' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (BIOPOLIO B1/3)</option>
                        <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Bivalent OPV Type 1 and 3 Poliomyelitis Vaccine, Live (Oral))" <%product.name==='Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Bivalent OPV Type 1 and 3 Poliomyelitis Vaccine, Live (Oral))' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Bivalent OPV Type 1 and 3 Poliomyelitis Vaccine, Live (Oral))</option>
                        <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Bivalent Oral Poliomyelitis Vaccine Type 1&3 (bOPV 1&3))" <%product.name==='Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Bivalent Oral Poliomyelitis Vaccine Type 1&3 (bOPV 1&3))' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Bivalent Oral Poliomyelitis Vaccine Type 1&3 (bOPV 1&3))</option>
                        <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Bivalent type 1&3 Oral Poliomyelitis vaccine, IP (bOPV1&3))" <%product.name==='Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Bivalent type 1&3 Oral Poliomyelitis vaccine, IP (bOPV1&3))' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Bivalent type 1&3 Oral Poliomyelitis vaccine, IP (bOPV1&3))</option>
                        <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (none)" <%product.name==='Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (none)' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (none)</option>
                        <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Polio Sabin One and Three)" <%product.name==='Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Polio Sabin One and Three)' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Polio Sabin One and Three)</option>
                        <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Poliomyelitis Vaccine (live, oral attenuated, human Diploid Cell), type 1 and 3)" <%product.name==='Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Poliomyelitis Vaccine (live, oral attenuated, human Diploid Cell), type 1 and 3)' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Poliomyelitis Vaccine (live, oral attenuated, human Diploid Cell), type 1 and 3)</option>
                        <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Poliomyelitis Vaccine (Oral), Bivalent types 1 and 3)" <%product.name==='Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Poliomyelitis Vaccine (Oral), Bivalent types 1 and 3)' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Poliomyelitis Vaccine (Oral), Bivalent types 1 and 3)</option>
                        <option value="Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (Monovalent Oral Poliomyelitis Vaccine Type 1 (mOPV1))" <%product.name==='Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (Monovalent Oral Poliomyelitis Vaccine Type 1 (mOPV1))' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (Monovalent Oral Poliomyelitis Vaccine Type 1 (mOPV1))</option>
                        <option value="Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (Monovalent type 1 Oral Poliomyelitis vaccine, IP (mOPV1))" <%product.name==='Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (Monovalent type 1 Oral Poliomyelitis vaccine, IP (mOPV1))' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (Monovalent type 1 Oral Poliomyelitis vaccine, IP (mOPV1))</option>
                        <option value="Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (ORAL MONOVALENT TYPE 1 POLIOMYELITIS VACCINE)" <%product.name==='Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (ORAL MONOVALENT TYPE 1 POLIOMYELITIS VACCINE)' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (ORAL MONOVALENT TYPE 1 POLIOMYELITIS VACCINE)</option>
                        <option value="Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (Polio Sabin Mono T1)" <%product.name==='Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (Polio Sabin Mono T1)' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (Polio Sabin Mono T1)</option>
                        <option value="Polio Vaccine - Oral (OPV) Monovalent Type 2 - Vial (Monovalent Oral Poliomyelitis Vaccine Type 2)" <%product.name==='Polio Vaccine - Oral (OPV) Monovalent Type 2 - Vial (Monovalent Oral Poliomyelitis Vaccine Type 2)' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Monovalent Type 2 - Vial (Monovalent Oral Poliomyelitis Vaccine Type 2)</option>
                        <option value="Polio Vaccine - Oral (OPV) Monovalent Type 2 - Vial (ORAL MONOVALENT TYPE 2 POLIOMYELITIS VACCINE (mOPV2))" <%product.name==='Polio Vaccine - Oral (OPV) Monovalent Type 2 - Vial (ORAL MONOVALENT TYPE 2 POLIOMYELITIS VACCINE (mOPV2))' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Monovalent Type 2 - Vial (ORAL MONOVALENT TYPE 2 POLIOMYELITIS VACCINE (mOPV2))</option>
                        <option value="Polio Vaccine - Oral (OPV) Monovalent Type 2 - Vial (Polio Sabin Mono Two (oral))" <%product.name==='Polio Vaccine - Oral (OPV) Monovalent Type 2 - Vial (Polio Sabin Mono Two (oral))' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Monovalent Type 2 - Vial (Polio Sabin Mono Two (oral))</option>
                        <option value="Polio Vaccine - Oral (OPV) Monovalent Type 3 - Vial (ORAL MONOVALENT TYPE 3 POLIOMYELITIS VACCINE)" <%product.name==='Polio Vaccine - Oral (OPV) Monovalent Type 3 - Vial (ORAL MONOVALENT TYPE 3 POLIOMYELITIS VACCINE)' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Monovalent Type 3 - Vial (ORAL MONOVALENT TYPE 3 POLIOMYELITIS VACCINE)</option>
                        <option value="Polio Vaccine - Oral (OPV) Monovalent Type 3 - Vial (Polio Sabin Mono Three (oral))" <%product.name==='Polio Vaccine - Oral (OPV) Monovalent Type 3 - Vial (Polio Sabin Mono Three (oral))' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Monovalent Type 3 - Vial (Polio Sabin Mono Three (oral))</option>
                        <option value="Polio Vaccine - Oral (OPV) Trivalent - Vial (BIOPOLIO)" <%product.name==='Polio Vaccine - Oral (OPV) Trivalent - Vial (BIOPOLIO)' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Trivalent - Vial (BIOPOLIO)</option>
                        <option value="Polio Vaccine - Oral (OPV) Trivalent - Vial (OPVERO)" <%product.name==='Polio Vaccine - Oral (OPV) Trivalent - Vial (OPVERO)' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Trivalent - Vial (OPVERO)</option>
                        <option value="Polio Vaccine - Oral (OPV) Trivalent - Vial (Oral Poliomyelitis Vaccines (Oral Drops))" <%product.name==='Polio Vaccine - Oral (OPV) Trivalent - Vial (Oral Poliomyelitis Vaccines (Oral Drops))' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Trivalent - Vial (Oral Poliomyelitis Vaccines (Oral Drops))</option>
                        <option value="Polio Vaccine - Oral (OPV) Trivalent - Vial (Polioviral vaccine)" <%product.name==='Polio Vaccine - Oral (OPV) Trivalent - Vial (Polioviral vaccine)' ? 'selected' : ''  %>>Polio Vaccine - Oral (OPV) Trivalent - Vial (Polioviral vaccine)</option>
                        <option value="Rabies - Vial (Rabipur)" <%product.name==='Rabies - Vial (Rabipur)' ? 'selected' : ''  %>>Rabies - Vial (Rabipur)</option>
                        <option value="Rabies - Vial (VaxiRab N)" <%product.name==='Rabies - Vial (VaxiRab N)' ? 'selected' : ''  %>>Rabies - Vial (VaxiRab N)</option>
                        <option value="Rabies - Vial (VERORAB)" <%product.name==='Rabies - Vial (VERORAB)' ? 'selected' : ''  %>>Rabies - Vial (VERORAB)</option>
                        <option value="Rabies - Vial + Ampoule (Rabies Vaccine Inactivated (Freeze Dried)(RABIVAX-S))" <%product.name==='Rabies - Vial + Ampoule (Rabies Vaccine Inactivated (Freeze Dried)(RABIVAX-S))' ? 'selected' : ''  %>>Rabies - Vial + Ampoule (Rabies Vaccine Inactivated (Freeze Dried)(RABIVAX-S))</option>
                        <option value="Rotavirus  - Applicator (Rotarix)" <%product.name==='Rotavirus  - Applicator (Rotarix)' ? 'selected' : ''  %>>Rotavirus  - Applicator (Rotarix)</option>
                        <option value="Rotavirus  - Plastic Tube (Rotarix)" <%product.name==='Rotavirus  - Plastic Tube (Rotarix)' ? 'selected' : ''  %>>Rotavirus  - Plastic Tube (Rotarix)</option>
                        <option value="Rotavirus  - Plastic Tube (Rotateq)" <%product.name==='Rotavirus  - Plastic Tube (Rotateq)' ? 'selected' : ''  %>>Rotavirus  - Plastic Tube (Rotateq)</option>
                        <option value="Rotavirus (live, attenuated) - Plastic Tube (ROTASIIL-Liquid)" <%product.name==='Rotavirus (live, attenuated) - Plastic Tube (ROTASIIL-Liquid)' ? 'selected' : ''  %>>Rotavirus (live, attenuated) - Plastic Tube (ROTASIIL-Liquid)</option>
                        <option value="Rotavirus (live, attenuated) - Two vial set (active + excipient) (ROTASIIL)" <%product.name==='Rotavirus (live, attenuated) - Two vial set (active + excipient) (ROTASIIL)' ? 'selected' : ''  %>>Rotavirus (live, attenuated) - Two vial set (active + excipient) (ROTASIIL)</option>
                        <option value="Rotavirus (live, attenuated) - Two vial set (active + excipient) (ROTASIIL®Thermo)" <%product.name==='Rotavirus (live, attenuated) - Two vial set (active + excipient) (ROTASIIL®Thermo)' ? 'selected' : ''  %>>Rotavirus (live, attenuated) - Two vial set (active + excipient) (ROTASIIL®Thermo)</option>
                        <option value="Rotavirus (live, attenuated) - Vial (ROTASIIL-Liquid)" <%product.name==='Rotavirus (live, attenuated) - Vial (ROTASIIL-Liquid)' ? 'selected' : ''  %>>Rotavirus (live, attenuated) - Vial (ROTASIIL-Liquid)</option>
                        <option value="Rotavirus (live, attenuated) - Vial (ROTAVAC 5D®)" <%product.name==='Rotavirus (live, attenuated) - Vial (ROTAVAC 5D®)' ? 'selected' : ''  %>>Rotavirus (live, attenuated) - Vial (ROTAVAC 5D®)</option>
                        <option value="Rotavirus (live, attenuated) - Vial (Rotavac)" <%product.name==='Rotavirus (live, attenuated) - Vial (Rotavac)' ? 'selected' : ''  %>>Rotavirus (live, attenuated) - Vial (Rotavac)</option>
                        <option value="Rubella - Vial (Rubella Vaccine, Live, Attenuated)" <%product.name==='Rubella - Vial (Rubella Vaccine, Live, Attenuated)' ? 'selected' : ''  %>>Rubella - Vial (Rubella Vaccine, Live, Attenuated)</option>
                        <option value="Tetanus Toxoid - Ampoule (Tetanus  Toxoid Vaccine Adsorbed)" <%product.name==='Tetanus Toxoid - Ampoule (Tetanus  Toxoid Vaccine Adsorbed)' ? 'selected' : ''  %>>Tetanus Toxoid - Ampoule (Tetanus  Toxoid Vaccine Adsorbed)</option>
                        <option value="Tetanus Toxoid - Uniject (TT vaccine)" <%product.name==='Tetanus Toxoid - Uniject (TT vaccine)' ? 'selected' : ''  %>>Tetanus Toxoid - Uniject (TT vaccine)</option>
                        <option value="Tetanus Toxoid - Vial (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  BEtt.)" <%product.name==='Tetanus Toxoid - Vial (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  BEtt.)' ? 'selected' : ''  %>>Tetanus Toxoid - Vial (None used on labelling for supply through UN agencies.     Also marketed with labelled commercial name  BEtt.)</option>
                        <option value="Tetanus Toxoid - Vial (ShanTT)" <%product.name==='Tetanus Toxoid - Vial (ShanTT)' ? 'selected' : ''  %>>Tetanus Toxoid - Vial (ShanTT)</option>
                        <option value="Tetanus Toxoid - Vial (Tetanus  Toxoid Vaccine Adsorbed)" <%product.name==='Tetanus Toxoid - Vial (Tetanus  Toxoid Vaccine Adsorbed)' ? 'selected' : ''  %>>Tetanus Toxoid - Vial (Tetanus  Toxoid Vaccine Adsorbed)</option>
                        <option value="Tetanus Toxoid - Vial (Tetatox)" <%product.name==='Tetanus Toxoid - Vial (Tetatox)' ? 'selected' : ''  %>>Tetanus Toxoid - Vial (Tetatox)</option>
                        <option value="Tetanus Toxoid - Vial (TETAVAX)" <%product.name==='Tetanus Toxoid - Vial (TETAVAX)' ? 'selected' : ''  %>>Tetanus Toxoid - Vial (TETAVAX)</option>
                        <option value="Tetanus Toxoid - Vial (TT vaccine)" <%product.name==='Tetanus Toxoid - Vial (TT vaccine)' ? 'selected' : ''  %>>Tetanus Toxoid - Vial (TT vaccine)</option>
                        <option value="Typhoid (Conjugate) - Vial (Typbar-TCV)" <%product.name==='Typhoid (Conjugate) - Vial (Typbar-TCV)' ? 'selected' : ''  %>>Typhoid (Conjugate) - Vial (Typbar-TCV)</option>
                        <option value="Typhoid (Conjugate) - Vial (TYPHIBEV®)" <%product.name==='Typhoid (Conjugate) - Vial (TYPHIBEV®)' ? 'selected' : ''  %>>Typhoid (Conjugate) - Vial (TYPHIBEV®)</option>
                        <option value="Typhoid (Polysaccharide) - Vial (TYPHIM Vi)" <%product.name==='Typhoid (Polysaccharide) - Vial (TYPHIM Vi)' ? 'selected' : ''  %>>Typhoid (Polysaccharide) - Vial (TYPHIM Vi)</option>
                        <option value="Varicella - Two vial set (active + excipient) (SKYVaricella Inj.)" <%product.name==='Varicella - Two vial set (active + excipient) (SKYVaricella Inj.)' ? 'selected' : ''  %>>Varicella - Two vial set (active + excipient) (SKYVaricella Inj.)</option>
                        <option value="Varicella - Two vial set (active + excipient) (Varivax)" <%product.name==='Varicella - Two vial set (active + excipient) (Varivax)' ? 'selected' : ''  %>>Varicella - Two vial set (active + excipient) (Varivax)</option>
                        <option value="Varicella - Vial (Varicella Vaccine, Live)" <%product.name==='Varicella - Vial (Varicella Vaccine, Live)' ? 'selected' : ''  %>>Varicella - Vial (Varicella Vaccine, Live)</option>
                        <option value="Yellow Fever - Ampoule (n/a)" <%product.name==='Yellow Fever - Ampoule (n/a)' ? 'selected' : ''  %>>Yellow Fever - Ampoule (n/a)</option>
                        <option value="Yellow Fever - Two vial set (active + excipient) (Yellow Fever)" <%product.name==='Yellow Fever - Two vial set (active + excipient) (Yellow Fever)' ? 'selected' : ''  %>>Yellow Fever - Two vial set (active + excipient) (Yellow Fever)</option>
                        <option value="Yellow Fever - Vial (SinSaVac™)" <%product.name==='Yellow Fever - Vial (SinSaVac™)' ? 'selected' : ''  %>>Yellow Fever - Vial (SinSaVac™)</option>
                        <option value="Yellow Fever - Vial (Stabilized Yellow Fever Vaccine)" <%product.name==='Yellow Fever - Vial (Stabilized Yellow Fever Vaccine)' ? 'selected' : ''  %>>Yellow Fever - Vial (Stabilized Yellow Fever Vaccine)</option>
                        <option value="Yellow Fever - Vial (STAMARIL)" <%product.name==='Yellow Fever - Vial (STAMARIL)' ? 'selected' : ''  %>>Yellow Fever - Vial (STAMARIL)</option>
                    </select>
                </div>
            </div>
            <br>
                <div class="row">
                <div class="col-md-3 offset-md-2">
                        <label for="manufacturer">Manufacturer</label>
                        <select name="manufacturer" id="manufacturer">
                            <option value="Abbott Biologicals BV" <%product.manufacturer==='Abbott Biologicals BV' ? 'selected' : ''  %>>Abbott Biologicals BV</option>
                            <option value="AJ Vaccines A/S" <%product.manufacturer==='AJ Vaccines A/S' ? 'selected' : ''  %>>AJ Vaccines A/S</option>
                            <option value="AstraZeneca Pharmaceuticals LP." <%product.manufacturer==='AstraZeneca Pharmaceuticals LP.' ? 'selected' : ''  %>>AstraZeneca Pharmaceuticals LP.</option>
                            <option value="BB- NCIPD Ltd. (Bul Bio-National Center of Infectious and Parasitic Diseases Ltd.)" <%product.manufacture==='BB- NCIPD Ltd. (Bul Bio-National Center of Infectious and Parasitic Diseases Ltd.)' ? 'selected' : ''  %>>BB- NCIPD Ltd. (Bul Bio-National Center of Infectious and Parasitic Diseases Ltd.)</option>
                            <option value="Beijing Institute of Biological Products Co., Ltd." <%product.manufacturer==='Beijing Institute of Biological Products Co., Ltd.' ? 'selected' : ''  %>>Beijing Institute of Biological Products Co., Ltd.</option>
                            <option value="Bharat Biotech International Limited" <%product.manufacturer==='Bharat Biotech International Limited' ? 'selected' : ''  %>>Bharat Biotech International Limited</option>
                            <option value="Bilthoven Biologicals B.V." <%product.manufacturer==='Bilthoven Biologicals B.V.' ? 'selected' : ''  %>>Bilthoven Biologicals B.V.</option>
                            <option value="Bio-Manguinhos/Fiocruz" <%product.manufacturer==='Bio-Manguinhos/Fiocruz' ? 'selected' : ''  %>>Bio-Manguinhos/Fiocruz</option>
                            <option value="Biological E. Limited" <%product.manufacturer==='Biological E. Limited' ? 'selected' : ''  %>>Biological E. Limited</option>
                            <option value="Cadila Health Care Ltd" <%product.manufacturer==='Cadila Health Care Ltd' ? 'selected' : ''  %>>Cadila Health Care Ltd</option>
                            <option value="Centro de Ingenieria Genetica y Biotecnologia" <%product.manufacturer==='Centro de Ingenieria Genetica y Biotecnologia' ? 'selected' : ''  %>>Centro de Ingenieria Genetica y Biotecnologia</option>
                            <option value="Chengdu Institute of Biological Products Co.,Ltd" <%product.manufacturer==='Chengdu Institute of Biological Products Co.,Ltd' ? 'selected' : ''  %>>Chengdu Institute of Biological Products Co.,Ltd</option>
                            <option value="Chiron Behring Vaccines Private Ltd." <%product.manufacturer==='Chiron Behring Vaccines Private Ltd.' ? 'selected' : ''  %>>Chiron Behring Vaccines Private Ltd.</option>
                            <option value="EuBiologics Co., Ltd." <%product.manufacturer==='EuBiologics Co., Ltd.' ? 'selected' : ''  %>>EuBiologics Co., Ltd.</option>
                            <option value="Federal State Autonomous Scientific Institution «Chumakov Federal Scientific Center for Research & Development of Immune-And Biological Products», Russian Academy of Sciences" <%product.manufacturer==='Federal State Autonomous Scientific Institution «Chumakov Federal Scientific Center for Research & Development of Immune-And Biological Products», Russian Academy of Sciences' ? 'selected' : ''  %>>Federal State Autonomous Scientific Institution «Chumakov Federal Scientific Center for Research & Development of Immune-And Biological Products», Russian Academy of Sciences</option>
                            <option value="GC Biopharma Corp." <%product.manufacturer==='GC Biopharma Corp.' ? 'selected' : ''  %>>GC Biopharma Corp.</option>
                            <option value="GlaxoSmithKline Biologicals SA" <%product.manufacturer==='GlaxoSmithKline Biologicals SA' ? 'selected' : ''  %>>GlaxoSmithKline Biologicals SA</option>
                            <option value="GlaxoSmithKline Vaccines S.r.l." <%product.manufacturer==='GlaxoSmithKline Vaccines S.r.l.' ? 'selected' : ''  %>>GlaxoSmithKline Vaccines S.r.l.</option>
                            <option value="GPO-MBP Co., Ltd." <%product.manufacturer==='GPO-MBP Co., Ltd.' ? 'selected' : ''  %>>GPO-MBP Co., Ltd.</option>
                            <option value="Haffkine Bio Pharmaceutical Corporation Ltd" <%product.manufacturer==='Haffkine Bio Pharmaceutical Corporation Ltd' ? 'selected' : ''  %>>Haffkine Bio Pharmaceutical Corporation Ltd</option>
                            <option value="Hualan Biological Bacterin Inc." <%product.manufacturer==='Hualan Biological Bacterin Inc.' ? 'selected' : ''  %>>Hualan Biological Bacterin Inc.</option>
                            <option value="IL-YANG PHARMACEUTICAL CO., LTD." <%product.manufacturer==='IL-YANG PHARMACEUTICAL CO., LTD.' ? 'selected' : ''  %>>IL-YANG PHARMACEUTICAL CO., LTD.</option>
                            <option value="Institut Pasteur de Dakar" <%product.manufacturer==='Institut Pasteur de Dakar' ? 'selected' : ''  %>>Institut Pasteur de Dakar</option>
                            <option value="Instituto Butantan" <%product.manufacturer==='Instituto Butantan' ? 'selected' : ''  %>>Instituto Butantan</option>
                            <option value="Janssen Vaccines, Branch of Cilag GmbH International " <%product.manufacturer==='Janssen Vaccines, Branch of Cilag GmbH International ' ? 'selected' : ''  %>>Janssen Vaccines, Branch of Cilag GmbH International </option>
                            <option value="Japan BCG Laboratory" <%product.manufacturer==='Japan BCG Laboratory' ? 'selected' : ''  %>>Japan BCG Laboratory</option>
                            <option value="LG Chem Ltd" <%product.manufacturer==='LG Chem Ltd' ? 'selected' : ''  %>>LG Chem Ltd</option>
                            <option value="MedImmune" <%product.manufacturer==='MedImmune' ? 'selected' : ''  %>>MedImmune</option>
                            <option value="Merck Vaccines" <%product.manufacturer==='Merck Vaccines' ? 'selected' : ''  %>>Merck Vaccines</option>
                            <option value="Panacea Biotec Ltd." <%product.manufacturer==='Panacea Biotec Ltd.' ? 'selected' : ''  %>>Panacea Biotec Ltd.</option>
                            <option value="Pfizer Europe MA EEIG" <%product.manufacturer==='Pfizer Europe MA EEIG' ? 'selected' : ''  %>>Pfizer Europe MA EEIG</option>
                            <option value="PT Bio Farma (Persero)" <%product.manufacturer==='PT Bio Farma (Persero)' ? 'selected' : ''  %>>PT Bio Farma (Persero)</option>
                            <option value="Sanofi Healthcare India Private Limited" <%product.manufacturer==='Sanofi Healthcare India Private Limited' ? 'selected' : ''  %>>Sanofi Healthcare India Private Limited</option>
                            <option value="Sanofi Pasteur Inc." <%product.manufacturer==='Sanofi Pasteur Inc.' ? 'selected' : ''  %>>Sanofi Pasteur Inc.</option>
                            <option value="Sanofi Pasteur Limited" <%product.manufacturer==='Sanofi Pasteur Limited' ? 'selected' : ''  %>>Sanofi Pasteur Limited</option>
                            <option value="Sanofi Pasteur SA" <%product.manufacturer==='Sanofi Pasteur SA' ? 'selected' : ''  %>>Sanofi Pasteur SA</option>
                            <option value="Sanofi Pasteur" <%product.manufacturer==='Sanofi Pasteur' ? 'selected' : ''  %>>Sanofi Pasteur</option>
                            <option value="Seqirus GmbH" <%product.manufacturer==='Seqirus GmbH' ? 'selected' : ''  %>>Seqirus GmbH</option>
                            <option value="Seqirus Limited" <%product.manufacturer==='Seqirus Limited' ? 'selected' : ''  %>>Seqirus Limited</option>
                            <option value="Seqirus Vaccines Limited" <%product.manufacturer==='Seqirus Vaccines Limited' ? 'selected' : ''  %>>Seqirus Vaccines Limited</option>
                            <option value="Serum Institute of India Pvt. Ltd." <%product.manufacturer==='Serum Institute of India Pvt. Ltd.' ? 'selected' : ''  %>>Serum Institute of India Pvt. Ltd.</option>
                            <option value="Sinovac (Dalian) Vaccine Technology Co., Ltd." <%product.manufacturer==='Sinovac (Dalian) Vaccine Technology Co., Ltd.' ? 'selected' : ''  %>>Sinovac (Dalian) Vaccine Technology Co., Ltd.</option>
                            <option value="Sinovac Biotech Co. Ltd" <%product.manufacturer==='Sinovac Biotech Co. Ltd' ? 'selected' : ''  %>>Sinovac Biotech Co. Ltd</option>
                            <option value="SK Bioscience Co., Ltd." <%product.manufacturer==='SK Bioscience Co., Ltd.' ? 'selected' : ''  %>>SK Bioscience Co., Ltd.</option>
                            <option value="Valneva Sweden AB" <%product.manufacturer==='Valneva Sweden AB' ? 'selected' : ''  %>>Valneva Sweden AB</option>
                            <option value="Xiamen Innovax Biotech Co. Ltd." <%product.manufacturer==='Xiamen Innovax Biotech Co. Ltd.' ? 'selected' : ''  %>>Xiamen Innovax Biotech Co. Ltd.</option>
                        </select>
                </div>
                
            </div>

            <br>

            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label for="conversion">Conversion (dose/vial)</label>
                    <input type="number" id="conversion" name="conversion" value="<%=product.conversion%>">
                </div>
                
            </div>
            
            
            <br>
            <hr style=" border: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
            <br>
            <!-- <div class="row">
                <div class="col">
                    <label for="date_open">Date Last Stockcount</label>
                </div>
                <div class="col">
                    <input type="date" id="date_open" name="date_open">
                </div>
                <div class="col">

                </div>
            </div>

            <br> -->

            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label for="qty_open">Qty last stock count (vials/flacons)</label>
                    <input type="number" id="qty_open" name="qty_open" value="<%=product.qty_open%>">
                </div>
                <div class="col-md-3 offset-md-2">
                    <label for="uom_open">UoM</label>
                    <select name="uom_open" id="uom_open">
                        <option value="vial/amp" <%=product.uom_open==='vial/amp' ? 'selected' : '' %>>Vial/Amp</option>
                        <option value= "flacon/tube" <%=product.uom_open==='flacon/tube' ? 'selected' : '' %>>Flacon/Tube</option>
                    </select>
                </div>
            </div>
            <br>
            <hr style=" border: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">

            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label for="qty_received">Receipts
                        (since last stock count)</label>
                    <input type="number" id="qty_received" name="qty_received" value="<%=product.qty_received%>">
                </div>
                <div class="col-md-3 offset-md-2">
                    <label for="uom_received">UoM</label>
                    <select name="uom_received" id="uom_received">
                        <option value="vial/amp" <%=product.uom_received==='vial/amp' ? 'selected' : '' %>>Vial/Amp</option>
                        <option value= "flacon/tube" <%=product.uom_received==='flacon/tube' ? 'selected' : '' %>>Flacon/Tube</option>
                        <option value="dose" <%=product.uom_received==='dose' ? 'selected' : '' %>>Dose</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label for="qty_issued">Issued/Used (since last stock count)</label>
                    <input type="number" id="qty_issued" name="qty_issued" value="<%=product.qty_issued%>">
                </div>
                <div class="col-md-3 offset-md-2">
                    <label for="uom_issued">UoM</label>
                    <select name="uom_issued" id="uom_issued" <select name="uom_issued" id="uom_issued">
                        <option value="vial/amp" <%=product.uom_issued==='vial/amp' ? 'selected' : '' %>>Vial/Amp</option>
                        <option value= "flacon/tube" <%=product.uom_issued==='flacon/tube' ? 'selected' : '' %>>Flacon/Tube</option>
                        <option value="dose" <%=product.uom_issued==='dose' ? 'selected' : '' %>>Dose</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label for="qty_lost">Losses (since last stock count in vials/flacons)</label>
                    <input type="number" id="qty_lost" name="qty_lost" value="<%=product.qty_lost%>">
                </div>
                <div class="col-md-3 offset-md-2">
                    <label for="uom_lost">UoM</label>
                    <select name="uom_lost" id="uom_lost">
                        <option value="vial/amp" <%=product.uom_lost==='vial/amp' ? 'selected' : '' %>>Vial/Amp</option>
                        <option value= "flacon/tube" <%=product.uom_lost==='flacon/tube' ? 'selected' : '' %>>Flacon/Tube</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label for="qty_transferred">Transferred (+/- since last stock count in vials/flacons)</label>
                    <input type="number" id="qty_transferred" name="qty_transferred"
                        value="<%=product.qty_transferred%>">
                </div>
                <div class="col-md-3 offset-md-2">
                    <label for="uom_transferred">UoM</label>
                    <select name="uom_transferred" id="uom_transferred">
                        <option value="vial/amp" <%=product.uom_transferred==='vial/amp' ? 'selected' : '' %>>Vial/Amp</option>
                        <option value= "flacon/tube" <%=product.uom_transferred==='flacon/tube' ? 'selected' : '' %>>Flacon/Tube</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label for="qty_count">Stock Count (today, in vials/flacons)</label>
                    <input type="number" id="qty_count" name="qty_count" value="<%=product.qty_count%>">
                </div>
                <div class="col-md-3 offset-md-2">
                    <label for="uom_count">UoM</label>
                    <select name="uom_count" id="uom_count">
                        <option value="vial/amp" <%=product.uom_count==='vial/amp' ? 'selected' : '' %>>Vial/Amp</option>
                        <option value= "flacon/tube" <%=product.uom_count==='flacon/tube' ? 'selected' : '' %>>Flacon/Tube</option>
                    </select>
                </div>
                <div class="col-md-3 offset-md-2">
                    <label for="cce">CCE/label>
                    <select name="cce" id="cce">
                        <option value= "refrigerator" <%=product.cce==='refrigerator' ? 'selected' : '' %>>Refrigerator</option>
                        <option value= "freezer" <%=product.cce==='freezer' ? 'selected' : '' %>>Freezer</option>
                        <option value= "ultrafreezer" <%=product.cce==='ultrafreezer' ? 'selected' : '' %>>Ultra-Freezer</option>
                    </select>
                </div>
            </div>
            <br>
            <hr style=" border: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label for="so_days">Stock out days in this period</label>
                    <input type="number" id="so_days" name="so_days" value="<%=product.so_days%>">
                </div>
              
                <div class="col-md-3 offset-md-2">
                    <label for="nearexp">Nr Vials Near Expiration or damaged/exposed</label>
                    <input type="number" id="nearexp" name="nearexp" value="<%=product.nearexp%>">
                </div>

            </div>

            <br>
            <hr style=" border: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
          
          <div class="container d-flex justify-content-center align-items-center mt-5">
          <h2>Update Supporting Documentation</h2></div>
          
          <br>
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Upload Additional images</span>
                            <!-- <span class="form-file-button">Browse</span> -->
                        </label>
                    </div>
                </div>
            </div>

            <br>
            <hr style=" border: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">

            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <% product.images.forEach(function(img, i) { %>
                        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                        <% })%>
                </div>
            </div>



            <br>

            <hr style=" border: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
            <br>

            <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success">Submit</button>  
            <p><em>(note that submit may take some seconds depending on the nr images to upload, or delete)</em></p></div>
        </form>
        <br><br>

    </div>