<% layout ('/layouts/boilerplate') %>

<div class="container" >
            
    
   
    
        <br>

            <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight"><h5>
                    Cycle Counts<br>(<%=products.length%>)
                    </h5></div>

                    <div class="p-2 flex-grow-1 bd-highlight">
                        <div class="dropdown">
                            <button class="btn btn-warning btn-md dropdown-toggle" style="padding-bottom: 8px; padding-left: 8px; padding-right: 45px" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                             Filter
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./products?cat=BCG" role="button">BCG</a></li>
                                <li><a class="dropdown-item" href="./products?cat=COVID-19" role="button">Covid</a></li>
                                <li><a class="dropdown-item" href="./products?cat=EBOLA" role="button">Ebola</a></li>
                                <li><a class="dropdown-item" href="./products?cat=HEPATITIS-B" role="button">HepB</a></li>
                                <li><a class="dropdown-item" href="./products?cat=HPV" role="button">HPV</a></li>
                                <li><a class="dropdown-item" href="./products?cat=INFLUENZA" role="button">Influenza</a></li>
                                <li><a class="dropdown-item" href="./products?cat=JE" role="button">Japanese Encephalitis</a></li>
                                <li><a class="dropdown-item" href="./products?cat=MEASLES" role="button">Measles</a></li>
                                <li><a class="dropdown-item" href="./products?cat=MENINGITIS" role="button">Meningitis</a></li>
                                <li><a class="dropdown-item" href="./products?cat=PENTA" role="button">Penta </a></li>
                                <li><a class="dropdown-item" href="./products?cat=PNEUMONIAE" role="button">Pneumoniae</a></li>
                                <li><a class="dropdown-item" href="./products?cat=POLIO" role="button">Polio</a></li>
                                <li><a class="dropdown-item" href="./products?cat=RABIES" role="button">Rabies</a></li>
                                <li><a class="dropdown-item" href="./products?cat=ROTAVIRUS" role="button">Rotavirus</a></li>
                                <li><a class="dropdown-item" href="./products?cat=TETANUS" role="button">Tetanus</a></li>
                                <li><a class="dropdown-item" href="./products?cat=TYPHOID" role="button">Typhoid</a></li>
                                <li><a class="dropdown-item" href="./products?cat=YELLOW FEVER" role="button">Yellow Fever</a></li>
                                <li><a class="dropdown-item" href="./products?cat=DILUENTS" role="button">Diluents</a></li>
                              <li><a class="dropdown-item" href="#">....</a></li>
                            </ul>
                          </div>
                    </div>

                <div class="p-2 flex-grow-1 bd-highlight"><input type=" text" id="myInput3" onkeyup="myFunction()"
                    style="width:10em; padding: 3px 4px 10px 12px" placeholder="Site Name ..."></div>
</div>

        <div class="table-responsive">
                <table class="table table-striped table-hover" ; id="vaccineTable">
                    <thead>
                        <tr>
                            <th>
                            Site
                            </th>
                            <th onclick="sortTable(1)">
                            Vaccine
                            </th>
                            <th>
                                Intended for:
                                </th>
                            <th>
                            From
                            </th>
                            <th>
                            To
                            </th>
                            <th>
                            Days
                            </th>
                            <th>
                            Stock Reconciliation
                            </th>
                            <th>
                            Months of Stock
                            <th>
                            Stock out days  
                            <!-- (if high like > 3 days it should be accounted for in MoS calcul) -->
                            </th>
                            <th>
                            Near Expiry Risk
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <% for(let product of products) { %>

                                <td>
                                    <a href="/sites/<%= product.site._id %>">
                                        <%= product.site.site_name%>
                                    </a>
                                </td>
                                <td>
                                    <%= product.name %>
                                </td>
                                <td>
                                    <%= product.type %>
                                </td>
                                <td>
                                    <%=(product.date_open.getMonth()+1)%>/<%=product.date_open.getFullYear()%>
                                </td>
                                <td>
                                    <%=(product.createdAt.getMonth()+1)%>/<%=product.createdAt.getFullYear() %>
                                </td>
                                <td>
                                    <%=((product.createdAt- product.date_open)/86400000).toFixed(0) %>
                                </td>


                                <td><a href="/products/<%=product._id%>">
                                        <% if (product.uom_received==="vial" && product.uom_issued==="vial" ) {%>
                                            <%=((product.qty_count / (
                                                product.qty_open+product.qty_received-product.qty_issued-product.qty_lost+product.qty_transferred
                                                ))*100).toFixed(1)%>% <% } %>

                                                    <% if (product.uom_received==="dose" && product.uom_issued==="vial"
                                                        ){%>
                                                        <%=((product.qty_count / (
                                                            product.qty_open+(product.qty_received/product.conversion)-(product.qty_issued)-product.qty_lost+product.qty_transferred
                                                            ))*100).toFixed(1)%>% <% } %>

                                                                <% if (product.uom_received==="vial" &&
                                                                    product.uom_issued==="dose" ){%>
                                                                    <%=((product.qty_count / (
                                                                        product.qty_open+(product.qty_received)-(product.qty_issued/product.conversion)-product.qty_lost+product.qty_transferred
                                                                        ))*100).toFixed(1)%>% <% } %>

                                                                            <% if (product.uom_received==="dose" &&
                                                                                product.uom_issued==="dose" ){%>
                                                                                <%=((product.qty_count / (
                                                                                    product.qty_open+(product.qty_received/product.conversion)-(product.qty_issued/product.conversion)-product.qty_lost+product.qty_transferred
                                                                                    ))*100).toFixed(1)%>% <% } %>
                                    </a>
                                </td>
                                <td>
                                    <% if (product.uom_issued==="vial" ) {%>
                                        <%=((product.qty_count)
                                            /(product.qty_issued)*(((product.createdAt-product.date_open)/86400000)/30)).toFixed(1)
                                            %>
                                            <% } %>
                                                <% if (product.uom_issued==="dose" ) {%>
                                                    <%=((product.qty_count
                                                        /(product.qty_issued/product.conversion))*(((product.createdAt-product.date_open)/86400000)/30)).toFixed(1)
                                                        %>
                                                        <% } %>
                                </td>
                                <td>
                                    <%=product.so_days %> ( <%=(product.so_days
                                            /((product.createdAt-product.date_open)/86400000)*100).toFixed(0)%>
                                            %)
                                </td>
                                <td>
                                    <% if (product.uom_issued==="vial" ) {%>
                                        <% if ( (product.nearexp/product.qty_count)> 0.3 &&
                                            product.nearexp>product.qty_issued)
                                            {
                                            %>
                                            <p>Yes</p>
                                            <%} else { %>
                                                <p>No</p>
                                                <%}%>
                                                    <% } %>
                                                        <% if (product.uom_issued==="dose" ) {%>
                                                            <% if ( (product.nearexp/product.qty_count)> 0.3 &&
                                                                product.nearexp>(product.qty_issued/product.conversion))
                                                                {
                                                                %>
                                                                <p>Yes</p>
                                                                <%} else { %>
                                                                    <p>No</p>
                                                                    <%}%>
                                                                        <% } %>
                                </td>
                        </tr>
                    </tbody>
                    <% }%>
                </table>
                <br>

               <em><span style="color:rgb(196, 192, 192)">Site name links to submitted stock reports
                            for that site in the year. Stock reconciliation links to the specific stock report details.
                        </span></em>
          

            <br>

            <% if(cat !=="All" ) {%>
                <a href="/products">Clear Filter</a>
                <% }%>


        </div>
        <br>
</div>
        






    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput3");
            filter = input.value.toUpperCase();
            table = document.getElementById("vaccineTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("vaccineTable");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
               first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>